$primary: #ff663f;
$secondary: #00afff;
$body-color: #202d3e;
$body-bg: #fff;
$dark: #000;
$light: #8896a9;
$facebook-blue: #3b5998;
$border-color: #DADADA;

$font-family-sans-serif: museo-sans-rounded, sans-serif;
$font-size-base: 1.125rem;
$font-weight-normal: 300;
$font-weight-bold: 500;
$line-height-base: (15 / 9);
$grid-gutter-width: 40px;
